<div id="<%= dom_id puppy %>">
  <p>
    <strong>Name:</strong>
    <%= puppy.name %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= puppy.age %>
  </p>

  <p>
    <strong>Cuteness:</strong>
    <%= puppy.cuteness %>
  </p>

  <p>
    <strong>Softness:</strong>
    <%= puppy.softness %>
  </p>

</div>
